<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.suitcase">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/traveling"
        android:label="SuitCase"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalAssignment"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.suitcase.adapters.DetailsActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.MapsActivity"-->
<!--            android:exported="false" /> &lt;!&ndash; <uses-library &ndash;&gt;-->
        <!-- android:name="com.google.android.wearable" -->
        <!-- android:required="true" /> -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.example.suitcase.ui.CartActivity"
            android:label="@string/title_activity_cart" /> <!-- <uses-library -->
        <!-- android:name="com.google.android.wearable" -->
        <!-- android:required="true" /> -->
        <!-- &lt;!&ndash; -->
        <!-- Set to true if your app is Standalone, that is, it does not require the handheld -->
        <!-- app to run. -->
        <!-- &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.wearable.standalone" -->
        <!-- android:value="true" /> -->
        <activity
            android:name="com.example.suitcase.ui.InsertFoodActivity"
            android:label="@string/title_activity_insert_food" />
        <activity android:name="com.example.suitcase.ui.SplashActivity" />
        <activity android:name="com.example.suitcase.ui.LoginActivity" />
        <activity
            android:name="com.example.suitcase.ui.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.FinalAssignment.NoActionBar" />
        <activity android:name="com.example.suitcase.ui.SignupActivity" />
        <activity android:name="com.example.suitcase.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>